.margin-bottom {
  &-lw {
    margin-bottom: 1.2rem !important;
  }
  &-sm {
    margin-bottom: 2.4rem !important;
  }
  &-md {
    margin-bottom: 4.8rem !important        ;
  }
  &-bg {
    margin-bottom: 6.4rem !important;
  }
  &-lg {
    margin-bottom: 9.6vw !important;
  }
}

.container {
  & {
    margin: 0 auto;
    max-width: 120rem;
    padding: 9.6rem 3.2rem;
  }

  &-60 {
    max-width: 60rem;
  }
  &-80 {
    max-width: 80rem;
  }

  &-100 {
    max-width: 100rem;
  }
  &-110 {
    max-width: 110rem;
  }

  &-120 {
    max-width: 120rem;
  }

  &--full {
    max-width: 130rem;
  }

  &--sm {
    padding: 2.4rem 3.2rem;
  }

  &--md {
    padding: 4.8rem 3.2rem;
  }

  &--bg {
    padding: 6.4rem 4.8rem;
  }

  &--lg {
    padding: 9.6rem 6.4rem;
  }

  &--vertical {
    padding: 9.6rem 0;
  }

  &--horizotal {
    padding: 0 3.2rem;
  }
}

.hide {
  @include hide;
}

.show {
  @include show;
}

.hidden {
  display: none !important ;
}

.linear-gradient-primary {
  color: $linear-gradient-primary;
}

.scale {
  transform: translate(-50%, -50%) scale(1) !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}
.lowercase {
  text-transform: lowercase !important;

  &::first-letter {
    text-transform: uppercase !important;
  }
}

.color-black {
  &-light {
    color: #777 !important;
  }
  &-medium {
    color: #555 !important;
  }
  &-dark {
    color: #333 !important;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

.center-El {
  @include flex-center;
}

.center-with-margin {
  margin: 0 auto;
}

.fixed-center {
  @include fixed-center;
}

.abs-center {
  @include abs-center;
}

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: $color-white-dark;
  box-shadow: $box-shadow-light;
}

.icon {
  height: 5rem;
  width: 5rem;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba($color-primary, 0.2);
  padding: 1.4rem;
}

.lazy-img {
  filter: blur(8px);
}

.highlight {
  &::before {
    position: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $linear-gradient-primary;
    transform: scale(1.07, 1.05) skewX(-15deg);
  }
}
