.grid--composition {
  display: grid;
  column-gap: 6.4vw;
  row-gap: 9.6vw;
  grid-template-columns: 6fr 4fr;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}

.grid {
  display: grid;

  &--center {
    & {
      align-items: center;

      justify-items: center;
    }

    &-vertically {
      align-items: center;
    }

    &-horizontally {
      justify-items: center;
    }
  }

  & {
    row-gap: 9.6vw;

    &--sm {
      row-gap: 2.4vw;
    }

    &--md {
      row-gap: 4.8vw;
    }

    &--bg {
      row-gap: 6.4vw;
    }
  }

  &--cols-2,
  &--cols-2--sm {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  }

  &--cols-2 {
    row-gap: 9.6vw;
    column-gap: 6.4vw;
  }

  &--cols-2--sm {
    column-gap: 4.8vw;
    row-gap: 8vw;
  }

  &--cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    column-gap: 4.8vw;
    row-gap: 8rem;
  }

  &--cols-4,
  &--cols-4--sm {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  }

  &--cols-4 {
    column-gap: 3.2vw;
    row-gap: 6.4vw;
  }
  &--cols-4--sm {
    column-gap: 2.4vw;
    row-gap: 3.2vw;
  }

  &--cols-5 {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 3.2vw;
    row-gap: 4.8vw;
  }
}
